.landing-page section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.landing-page section h2 {
  text-align: center;
  font-weight: normal;
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 15px;
}

.landing-page section hr {
  width: 100px;
  color: #ffb800;
  background-color: #ffb800;
  height: 2px;
  border: 0px;
  margin-bottom: 20px;
}

.landing-page a {
  text-decoration: none;
  color: black;
  text-emphasis: 1em;
}

.hero {
  height: 300px;
  width: 100%;
  padding: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  position: relative;
}
