.title-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 0px;
  padding-right: 0px;
  color: #bbbbbb;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
}
